@import "../index.scss";

#add-item-area {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	#add-item-input {
		margin-top: 30px;
		height: 30px;
		font-size: 1em;
		padding-left: 10px;
		border: 1px solid #ddd;
	}

	#plus {
		font-size: 1.6em;
		background-color: $greenBlue;
		color: #fff;
		width: 30px;
		height: 34px;
		margin-top: 30px;
		border: none;
		border-radius: 0 4px 4px 0;
	}
}

#items {
	#items-list {
		list-style-type: none;
		padding: 0;
		margin: 40px auto;
		width: 90%;

		.item {
			height: 50px;
			background-color: #ccc;
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 20px;
			border-radius: 4px;

			.item-name {
				color: #111;
				font-family: "Lucida Sans", "Lucida Sans Regular",
					"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
			}

			.btn-grp {
				height: 100%;

				.delete {
					border-radius: 0 4px 4px 0;
				}

				button {
					height: 100%;
					width: 40px;
					border: none;
					outline: none;
					background-color: $cinnabar;
					color: #fff;
				}
			}
		}
	}
}

#bottom-area {
	text-align: center;
	margin: 30px auto 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}

	button {
		background-color: $greenBlue;
		border: none;
		padding: 10px 15px;
		color: #fff;
		border-radius: 4px;
	}
}
