@import "index.scss";

.App {
	background-color: #fff;
	min-height: 100vh;
}

#App-title {
	background-color: $greenBlue;
	height: 50px;

	h1 {
		text-align: center;
		color: #fff;
		margin: 0;
		padding: 10px;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}
}
